
.popup {
  animation: fadeIn 0.5s ease-in-out;
    &.fade-out {
        animation: fadeOut 0.3s ease;
    }
}

@keyframes fadeIn {
    from {
        filter: blur(5px);
        left: 40%;
        opacity: 0;
    }
    to {
        filter: blur(0);
        left: 50%;
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        filter: blur(0px);
        opacity: 1;
    }
    to {
        filter: blur(5px);
        opacity: 0;
    }
}
